Flask==2.0.1
Werkzeug==2.0.3
click==7.1.2
requests==2.27.1
arxiv==1.4.3
PyPDF2==3.0.1
transformers==4.18.0
gTTS==2.2.4
pytest==6.2.5
pydantic==1.8.2
tqdm>=4.27,<5.0.0
numpy>=1.17,<1.25.0
sentencepiece==0.1.96
protobuf==3.20.0
flask-wtf==1.0.0
spacy==3.2.0
typing-extensions>=3.7.4,<4.0.0
